// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.task {
  display: flex;
  align-items: center;
}

.task a {
  padding: 0 15px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.add {
  display: flex;
  align-items: center;
  color: rgb(65, 94, 162);
}

.fa-trash-alt {
  font-size: 15px;
}

.add a{
  text-decoration: none;
  color: rgb(65, 94, 162);
  margin-left: 10px;
}

.btn-gradient a{
  text-decoration: none;
  color:white;
}

.btn-gradient {
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.padding {
  padding: 40px;
}
